Bank- Marketing - classification Problem(Supervised
)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
bank = pd.read_excel('Bank Marketing.xlsx')
bank.head()

# subscription is the target

,Age,Job,Marital Status,Account Balance,Own House,Personal Loan,No of campaigns,Subscription
0,59,unemployed,married,0,0,0,0,0
1,36,Others,married,3057,0,0,0,1
2,47,blue-collar,divorced,126,1,0,0,1
3,43,management,divorced,388,1,0,0,1
4,34,self-employed,single,462,0,0,0,1

In [ ]:
bank.info()

# alpha numeric - string type- Object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              4521 non-null   int64
 1   Job              4521 non-null   object
 2   Marital Status   4521 non-null   object
 3   Account Balance  4521 non-null   int64
 4   Own House        4521 non-null   int64
 5   Personal Loan    4521 non-null   int64
 6   No of campaigns  4521 non-null   int64
 7   Subscription     4521 non-null   int64
dtypes: int64(6), object(2)
memory usage: 282.7+ KB

In [ ]:
# check for missing value 
bank.isnull().sum()

Age                0
Job                0
Marital Status     0
Account Balance    0
Own House          0
Personal Loan      0
No of campaigns    0
Subscription       0
dtype: int64

In [ ]:
# since there is no missing value in the data, we can look at the descriptive statistics
bank.describe()

,Age,Account Balance,Own House,Personal Loan,No of campaigns,Subscription
count,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000
mean,41.170095,1422.657819,0.566025,0.152842,0.542579,0.115240
std,10.576211,3009.638142,0.495676,0.359875,1.693562,0.319347
min,19.000000,-3313.000000,0.000000,0.000000,0.000000,0.000000
25%,33.000000,69.000000,0.000000,0.000000,0.000000,0.000000
50%,39.000000,444.000000,1.000000,0.000000,0.000000,0.000000
75%,49.000000,1480.000000,1.000000,0.000000,0.000000,0.000000
max,87.000000,71188.000000,1.000000,1.000000,25.000000,1.000000

In [ ]:
bank.shape

(4521, 8)

In [ ]:
# imp step - convert text,char data into numeric 
cat_col = ['Job','Marital Status']
bank_dummy = pd.get_dummies(bank,columns=cat_col,drop_first=True)
bank_dummy.shape

(4521, 12)

In [ ]:
bank_dummy.columns

Index(['Age', 'Account Balance', 'Own House', 'Personal Loan',
       'No of campaigns', 'Subscription', 'Job_blue-collar', 'Job_management',
       'Job_self-employed', 'Job_unemployed', 'Marital Status_married',
       'Marital Status_single'],
      dtype='object')

In [ ]:
# Identifying target values

Y = bank_dummy[['Subscription']]
X = bank_dummy.drop(columns=['Subscription'])

In [ ]:
X

,Age,Account Balance,Own House,Personal Loan,No of campaigns,Job_blue-collar,Job_management,Job_self-employed,Job_unemployed,Marital Status_married,Marital Status_single
0,59,0,0,0,0,0,0,0,1,1,0
1,36,3057,0,0,0,0,0,0,0,1,0
2,47,126,1,0,0,1,0,0,0,0,0
3,43,388,1,0,0,0,1,0,0,0,0
4,34,462,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
4516,58,0,1,0,0,1,0,0,0,1,0
4517,38,0,1,0,0,0,0,0,0,1,0
4518,53,2627,1,1,0,0,0,1,0,1,0
4519,49,371,1,0,0,1,0,0,0,1,0
4520,35,280,1,1,0,1,0,0,0,1,0

In [ ]:
Y

      Subscription
0                0
1                1
2                1
3                1
4                1
...            ...
4516             0
4517             0
4518             0
4519             0
4520             0

[4521 rows x 1 columns]

In [ ]:
# Splitting into train and test

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y, test_size = 0.25, random_state = 42)

In [ ]:
len(x_train),len(x_test),len(y_train),len(y_test)

(3390, 1131, 3390, 1131)

In [ ]:
# Building the model

In [ ]:
from sklearn.naive_bayes import GaussianNB

In [ ]:
naive = GaussianNB()

In [ ]:
naive_model = naive.fit(x_train,y_train)     # fit meant for training the function
naive_model
print('The model has ran successfully !')

The model has ran successfully !

/usr/local/lib/python3.9/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
# Prediciting the Data

In [ ]:
y_test

      Subscription
2398             0
800              0
2288             0
2344             0
3615             0
...            ...
3188             0
3218             0
2767             0
498              0
3765             0

[1131 rows x 1 columns]

In [ ]:
y_test['Predicted'] = naive_model.predict(x_test)

In [ ]:
y_test

      Subscription  Predicated
2398             0           0
800              0           0
2288             0           0
2344             0           0
3615             0           0
...            ...         ...
3188             0           0
3218             0           0
2767             0           0
498              0           0
3765             0           0

[1131 rows x 2 columns]

In [ ]:
# Evaluating the Model

In [ ]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [ ]:
print(confusion_matrix(y_test['Subscription'],y_test['Predicted']))     # 962 and 20 r correct predicition    , opposite diagonals r wrong predicted values

[[962  41]
 [108  20]]

In [ ]:
accuracy = accuracy_score(y_test['Subscription'],y_test['Predicted'])
accuracy = np.round(accuracy,2)

In [ ]:
print('The accuracy of the model is : ',accuracy)

The accuracy of the model is :  0.87

In [ ]:
print(classification_report(y_test['Subscription'],y_test['Predicted']))

              precision    recall  f1-score   support

           0       0.90      0.96      0.93      1003
           1       0.33      0.16      0.21       128

    accuracy                           0.87      1131
   macro avg       0.61      0.56      0.57      1131
weighted avg       0.83      0.87      0.85      1131

In [ ]:
# Prdiciting on new data

In [ ]:
d1 = X.iloc[15]
d1

Age                        37
Account Balance           228
Own House                   1
Personal Loan               0
No of campaigns             0
Job_blue-collar             0
Job_management              0
Job_self-employed           0
Job_unemployed              0
Marital Status_married      0
Marital Status_single       1
Name: 15, dtype: int64

In [ ]:
val_data = pd.DataFrame(d1)
val_data.transpose()

,Age,Account Balance,Own House,Personal Loan,No of campaigns,Job_blue-collar,Job_management,Job_self-employed,Job_unemployed,Marital Status_married,Marital Status_single
15,37,228,1,0,0,0,0,0,0,0,1

In [ ]:
val_data = naive_model.predict(val_data.transpose())
print(val_data)

[0]

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
model = DecisionTreeClassifier()